
.info {
    background: 'green';
    color: 'green';
    background: url(gameBackGround.jpg) no-repeat center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    width: 218.5vh;
    height: 170vh;
    overflow: hidden;
}

.header {
    flex: 1;
    display: flex;
    justify-content: flex-end;
    flex-direction: row;
    height: 50px;
    width: 100%;
    padding-top: 2vh;
    padding-left: 2vh;
    overflow: auto;
}

.title { 
    font-size: 10px;
}

.column {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    overflow: auto;
}
.row {
    display: flex;
    flex-direction: row; 
    justify-content: space-evenly;
    padding-top: 5vh;
    overflow: auto;
}
.pieChartBox {
    box-shadow: 0px 0px 20px 0px rgba(15, 15, 15, 0.2);
    background-color: rgb(243, 243, 243);
	border-radius: 6px;
    padding: 15vh;
    display: flex;
    justify-content: space-between;
    align-items: center;
    justify-self: center;
    align-self: center;
    align-content: center;
    flex-direction: column;
    height: 80vh;
    width: 95vh;
}

.gameTimeBox {
    box-shadow: 0px 0px 20px 0px rgba(15, 15, 15, 0.2);
    background-color: rgb(243, 243, 243);
	border-radius: 6px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 35vh;
    width: 85vh;
}

.winRateBox {
    box-shadow: 0px 0px 20px 0px rgba(15, 15, 15, 0.2);
    background-color: rgb(243, 243, 243);
    border-radius: 6px;
    display: flex;
    align-items: center;
    justify-content: center;
    display: flex;
    flex-direction: column;
    height: 35vh;
    width: 85vh;
}
.links {
    padding-right: 1vh;
    padding-left: 1vh;
    font-weight: lighter;
    color: white;
}

.greeting {
    padding-right: 1vh;
    font-weight: lighter;
    color: white;
}
.pipe{
    color: white;
    font-weight: lighter;
}