.stratego {
  /* TO DO */
}

.board {
  /* TO DO */
}

.board_row {
  /* TO DO */
} 

.tile {
  display: inline-block;
  vertical-align: top;
  font-weight: bold;
  color: black;
  background-color: linen; 
  border: 1px solid black;
  height: 50px;
  width: 50px;
}

.impassable {
  background-color: slategray;
}

.piece {
  margin: auto;
  text-align: center;
  vertical-align: center;
  height: 49px;
  width: 49px;
}

.blue {
  background-color: royalblue;
}

.red {
  background-color: firebrick;
}

.hidden {
  display: none;
}

.blue_selected {
  background-color: blue;
}

.red_selected {
  background-color: red;
}

.highlighted {
  background-color: gold; 
}

.danger {
  background-color: rebeccapurple; 
}