.tile {
	display: inline-block;
	vertical-align: top;
	font-weight: bold;
	color: black;
	background-color: white;
	border: 1px solid black;
	height: 50px;
	width: 50px;
	border-radius: 5px;
	padding: 5px;
	border-color: rgb(243, 243, 243);

}
.blue {
	background-color: 	#388CBF // royalblue;
}

.red {
	background-color: #8575C0 //firebrick;
}

.hidden {
	display: none;
}

.selected {
	background-color: red;
}

.highlighted {
	background-color: gold;
}

.danger {
	background-color: rebeccapurple;
}

.impassable {
	background-color: slategray;
}
